.tree-menu {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    padding: 4px;
    background-color: #f5f5f5;
    border-right: 2px solid #31708F;
    border-top: 1px solid #31708F;
    width: 25%;
    overflow: auto;
  }

.iframeDivCss {
	position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    width: 75%;
    overflow: auto;
}
.headerCss{
	border-bottom: 2px solid #31708F;
	background-color: #f5f5f5;
}

.tree-memu-info{
    margin-right: auto;
}
/**搜索图标位置css**/
.parent-tree-menu-select{
	padding: 10px;
}
/**搜索显示菜单树css**/
.selectMenu {
    width:400px;
}
