<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserModelMapper">
	<resultMap id="UserModel" type="com.study.springmvc.dal.model.UserModel">
		<result column="ID" property="id"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REAL_NAME" property="realName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="CERTI_TYPE" property="certiType"/>
		<result column="CERTI_NO" property="certiNo"/>
		<result column="MOBILE" property="mobile"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="status"/>
		<result column="PASSWORD" property="password"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="UNIVERSITY" property="university"/>
		<result column="DEGREE" property="degree"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="CREATE_BY_NAME" property="createByName"/>
		<result column="CREATE_BY_ID" property="createById"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="UPDATE_BY_NAME" property="updateByName"/>
		<result column="UPDATE_BY_ID" property="updateById"/>
		<result column="ORGAN_ID" property="organId"/>
		<result column="ORGAN_NAME" property="organName"/>
		<result column="COUNTRY" property="country"/>
		<result column="PROVINCE" property="province"/>
		<result column="CITY" property="city"/>
		<result column="COUNTY_AREA" property="countyOrArea"/>
		<result column="TOWN_STREET" property="townOrStreet"/>
		<result column="VILLAGE_ROAD" property="villageOrRoad"/>
	</resultMap>
	
	<sql id="columnAll"> 
		ID,USER_NO,REAL_NAME,NICK_NAME,CERTI_TYPE,CERTI_NO,
		MOBILE,PHONE,EMAIL,ADDRESS,STATUS,PASSWORD,DESCRIPTION,UNIVERSITY,DEGREE,
		CREATE_TIME,CREATE_BY_NAME,CREATE_BY_ID,UPDATE_TIME,UPDATE_BY_NAME,UPDATE_BY_ID,
		ORGAN_ID,ORGAN_NAME,COUNTRY,PROVINCE,CITY,COUNTY_AREA,TOWN_STREET,VILLAGE_ROAD
	</sql>
	<sql id="whereCondition">
		<!-- 去除语句中的第一个and或or，并自动添加where关键字 -->
		<where>
			 <if test="id!=null and id!=''">
				and ID=#{id} 
			</if>
			<if test="realName!=null and realName!=''">
				and REAL_NAME=#{realName} 
			</if>
			<if test="nickName!=null and nickName!=''">
				and NICK_NAME=#{nickName} 
			</if>
			<if test="certiType!=null and certiType!=''">
				and CERTI_TYPE=#{certiType} 
			</if>
			<if test="certiNo!=null and certiNo!=''">
				and CERTI_NO=#{certiNo} 
			</if>
			<if test="mobile!=null and mobile!=''">
				and MOBILE=#{mobile} 
			</if>
			<if test="phone!=null and phone!=''">
				and PHONE=#{phone} 
			</if>
			<if test="email!=null and email!=''">
				and EMAIL=#{email} 
			</if>
			<if test="status!=null and status!=''">
				and STATUS=#{status} 
			</if>
			<if test="university!=null and university!=''">
				and UNIVERSITY=#{university} 
			</if>
			<if test="degree!=null and degree!=''">
				and DEGREE=#{degree} 
			</if>
			<if test="createTime!=null and createTime!=''">
				and CREATE_TIME=#{createTime} 
			</if>
			<if test="createById!=null and createById!=''">
				and CREATE_BY_ID=#{createById} 
			</if>
			<if test="updateTime!=null and updateTime!=''">
				and UPDATE_TIME=#{updateTime} 
			</if>
			<if test="updateById!=null and updateById!=''">
				and UPDATE_BY_ID=#{updateById} 
			</if>
			<if test="organId!=null and organId!=''">
				and ORGAN_ID=#{organId} 
			</if>
		</where>
	</sql>
	
	<sql id="setCondition">
		<!-- 把set中的最后一个‘,’去掉 -->
		<set>
			<if test="userNo!=null and userNo!=''">
				USER_NO=#{userNo},
			</if>
			<if test="realName!=null and realName!=''">
				REAL_NAME=#{realName},
			</if>
			<if test="nickName!=null and nickName!=''">
				NICK_NAME=#{nickName},
			</if>
			<if test="certiType!=null and certiType!=''">
				CERTI_TYPE=#{certiType},
			</if>
			<if test="certiNo!=null and certiNo!=''">
				CERTI_NO=#{certiNo},
			</if>
			<if test="mobile!=null and mobile!=''">
				MOBILE=#{mobile},
			</if>
			<if test="phone!=null and phone!=''">
				PHONE=#{phone},
			</if>
			<if test="email!=null and email!=''">
				EMAIL=#{email},
			</if>
			<if test="address!=null and address!=''">
				ADDRESS=#{address},
			</if>
			<if test="status!=null and status!=''">
				STATUS=#{status},
			</if>
			<if test="password!=null and password!=''">
				PASSWORD=#{password},
			</if>
			<if test="description!=null and description!=''">
				DESCRIPTION=#{description},
			</if>
			<if test="university!=null and university!=''">
				UNIVERSITY=#{university},
			</if>
			<if test="degree!=null and degree!=''">
				DEGREE=#{degree},
			</if>
			<if test="createTime!=null and createTime!=''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createByName!=null and createByName!=''">
				CREATE_BY_NAME=#{createByName},
			</if>
			<if test="createById!=null and createById!=''">
				CREATE_BY_ID=#{createById},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				UPDATE_TIME=#{updateTime},
			</if>
			<if test="updateByName!=null and updateByName!=''">
				UPDATE_BY_NAME=#{updateByName},
			</if>
			<if test="updateById!=null and updateById!=''">
				UPDATE_BY_ID=#{updateById},
			</if>
			<if test="organId!=null and organId!=''">
				ORGAN_ID=#{organId},
			</if>
			<if test="organName!=null and organName!=''">
				ORGAN_NAME=#{organName},
			</if>
			<if test="country!=null and country!=''">
				COUNTRY=#{country},
			</if>
			<if test="province!=null and province!=''">
				PROVINCE=#{province},
			</if>
			<if test="city!=null and city!=''">
				CITY=#{city},
			</if>
			<if test="countyOrArea!=null and countyOrArea!=''">
				COUNTY_AREA=#{countyOrArea},
			</if>
			<if test="townOrStreet!=null and townOrStreet!=''">
				TOWN_STREET=#{townOrStreet},
			</if>
			<if test="villageOrRoad!=null and villageOrRoad!=''">
				VILLAGE_ROAD=#{villageOrRoad},
			</if>
		</set>
	</sql>
	
	<select id="selectByKey" parameterType="long" resultMap="UserModel">
		SELECT <include refid="columnAll"/> FROM sys_user WHERE ID=#{value}
	</select>
	<insert id="insertUser" parameterType="com.study.springmvc.dal.model.UserModel">
		INSERT INTO sys_user(<include refid="columnAll"/>) 
		VALUES(
			#{id},#{userNo},#{realName},#{nickName},#{certiType},#{certiNo},#{mobile},#{phone},
			#{email},#{address},#{status},#{password},#{description},#{university},#{degree},#{createTime},
			#{createByName},#{createById},#{updateTime},#{updateByName},#{updateById},#{organId},#{organName},#{country},
			#{province},#{city},#{countyOrArea},#{townOrStreet},#{villageOrRoad}
			)
	</insert>
	
	<update id="updateUser" parameterType="com.study.springmvc.dal.model.UserModel">
		UPDATE sys_user
		<!-- set条件值 -->
		<include refid="setCondition"/>
		<!-- where条件值 -->
		<include refid="whereCondition"/>
	</update>
	
	<delete id="deleteByKey"  parameterType="long" >
		DELETE FROM sys_dict where ID=#{value}
	</delete>
</mapper>