.self-form{
	margin: 5px 5px 5px 5px;
    background-color: #EBF4FA;
    border: 1px solid #B1D3EC;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.self-form div.row{
    border-width: 1px;
    border-style: solid;
    border-color: #B1D3EC;
    background-color: #FFFFFF;
}
.self-form form.form-horizontal div.form-group{
	margin: 0px;
}

@media (min-width: 1200px) {
  .self-form form.form-horizontal div.form-group{
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	padding-right: 0px;
	padding-left: 0px;
  }
}

.self-form div.row .panel {
    margin-bottom: 0px;
}

.help-block{
	margin-top: 5px;
    margin-bottom: 0px;
}

.h4,h4{
	margin-left: 10px;
}

.label-bg{
	background-color: #EBF4FA !important;
}
.form-btn{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.panel-body {
    padding: 10px;
}

.form_border {
   	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #F9F9F9;
	border: 1px solid #B1D3EC;
	border-spacing: 0;
	border-collapse: collapse;
}

.row-eq-height-second{
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	padding-left: 0px;
	padding-right: 0px;
}
.control-label{
	float: right;
}
.row-eq-height-first{
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
@media (min-width: 768px) {
  .row-eq-height-first{
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	padding-left: 0px;
	padding-right: 0px;
  }
}
.button,button{
	width:120px;
	margin-left: 10px;
	margin-right: 10px;
}

.tableForm{
	margin: 5px 5px 5px 5px;
    background-color: #EBF4FA;
    border: 1px solid #B1D3EC;
}
.table,talbe{
	margin-bottom:0px;
}
table thead tr th{
	/***顶部菜单设置，渐变背景颜色设置,以下background主要是适用不同浏览器的**/
	background: #EBF4FA;
    background: -moz-linear-gradient(top,  #EBF4FA 0%, #D7E8F5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBF4FA), color-stop(100%,#D7E8F5));
    background: -webkit-linear-gradient(top,#EBF4FA 0,#D7E8F5 100%);
    background: -o-linear-gradient(top,  #EBF4FA 0%,#D7E8F5 100%);
    background: -ms-linear-gradient(top,  #EBF4FA 0%,#D7E8F5 100%);
    background: linear-gradient(to bottom,  #EBF4FA 0%,#D7E8F5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBF4FA', endColorstr='#D7E8F5',GradientType=0 );
	border: 1px solid #B1D3EC !important;
	text-align: center;
}

table tbody tr{
	background: #FFFFFF;
}

table tbody tr td{
	border: 1px solid #B1D3EC !important;
	text-align: center;
}

table tfoot tr td{
	/***顶部菜单设置，渐变背景颜色设置,以下background主要是适用不同浏览器的**/
	background: #EBF4FA;
    background: -moz-linear-gradient(top,  #EBF4FA 0%, #D7E8F5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBF4FA), color-stop(100%,#D7E8F5));
    background: -webkit-linear-gradient(top,#EBF4FA 0,#D7E8F5 100%);
    background: -o-linear-gradient(top,  #EBF4FA 0%,#D7E8F5 100%);
    background: -ms-linear-gradient(top,  #EBF4FA 0%,#D7E8F5 100%);
    background: linear-gradient(to bottom,  #EBF4FA 0%,#D7E8F5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBF4FA', endColorstr='#D7E8F5',GradientType=0 );
	border: 1px solid #B1D3EC !important;
	text-align: center;
	padding-top:5px !important;
	padding-bottom:0px !important;
	margin: 0px !important;
}

.pageMarinAndPadding{
	margin: 0px;
	padding:0px;
}

/**添加鼠标经过表格信息时的样式变化**/
table>tbody>tr:hover{
    background: #EBF4FA;
}
.tableActive{
    background: #EBF4FA;
}
