.headerCss{
	/***顶部菜单设置，渐变背景颜色设置,以下background主要是适用不同浏览器的**/
	background: #0060B6;
    background: -moz-linear-gradient(top,  #0060B6 0%, RGBA(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0060B6), color-stop(100%,RGBA(255,255,255,0)));
    background: -webkit-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  #0060B6 0%,RGBA(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  #0060B6 0%,RGBA(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  #0060B6 0%,RGBA(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060B6', endColorstr='RGBA(255,255,255,0)',GradientType=0 );
	border-bottom: 4px solid #31708F;
}
:root .headerCss{filter:none;}

.headerContainer{
	margin-left: 2px;
	margin-right: 2px;
	width: 100%;
}

.header-nav-right{
	margin: 0px 0px 0px 5px;
	padding: 1px 1px 0px 1px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #AA3939;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	/***渐变背景颜色设置,以下background主要是适用不同浏览器的**/
	background: #B13535;
    background: -moz-linear-gradient(top,  #B13535 0%, #FF0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B13535), color-stop(100%,#FF0000));
    background: -webkit-linear-gradient(top,#B13535 0,#FF0000 100%);
    background: -o-linear-gradient(top,  #B13535 0%,#FF0000 100%);
    background: -ms-linear-gradient(top,  #B13535 0%,#FF0000 100%);
    background: linear-gradient(to bottom,  #B13535 0%,#FF0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B13535', endColorstr='#FF0000',GradientType=0 );
	line-height: 4px;
}
:root .header-nav-right{filter:none;}

.a-height-color{
	line-height: 4px !important; 
	color:#FFF !important;
	cursor:pointer;
}

.margin-right20{
	margin-right: 20px;
}

.header-nav-left{
	margin: 0px 0px 0px 5px;
	padding: 1px 1px 0px 1px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #0066B2;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	/***渐变背景颜色设置,以下background主要是适用不同浏览器的**/
    background: #0468B3;
    background: -moz-linear-gradient(top,  #0468B3 0%, #6CAAD9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0468B3), color-stop(100%,#6CAAD9));
    background: -webkit-linear-gradient(top,  #0468B3 0%,#6CAAD9 100%);
    background: -o-linear-gradient(top,  #0468B3 0%,#6CAAD9 100%);
    background: -ms-linear-gradient(top,  #0468B3 0%,#6CAAD9 100%);
    background: linear-gradient(to bottom,  #0468B3 0%,#6CAAD9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0468B3', endColorstr='#6CAAD9',GradientType=0 );
	cursor:pointer;/***鼠标手型设置**/
}
:root .header-nav-left{filter:none;}

.header-nav-active{
	background:#487495;
}

/* Hide for mobile, show later */
.left-menu {
  display: none;
}
@media (min-width: 768px) {
  .left-menu {
    position: fixed;
    top: 92px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 2px solid #31708F;
    cursor:pointer;
  }
}

.iframeDivCss {
	position: fixed;
    top: 92px;
    bottom: 0;
    padding: 4px;
    width: 100%;
}

@media (min-width: 768px) {
  .iframeDivCss {
    position: fixed;
    top: 92px;
    bottom: 0;
    padding: 4px;
    width: 75%;
  }
}

@media (min-width: 992px){
 .iframeDivCss {
    width: 83.33333333%;
 }
}
.meun1-border{
	font-size: 12px;
	font-weight: 600;
	color: #4A515B;
	border: 1px solid #D5D5D5 !important;
	/***渐变背景颜色设置,以下background主要是适用不同浏览器的**/
    background: #FAFAFA;
    background: -moz-linear-gradient(top,  #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top,  #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top,  #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top,  #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(to bottom,  #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#E9E9E9',GradientType=0 );
	margin-bottom: 4px;
	border-radius: 4px !important;
}
:root .meun1-border{filter:none;}

.meun2-border{
	margin-right: 2px;
	margin-bottom: 2px
}

.menu-active
	{
	color: #FFF;
	background:#487495;
}

/**添加鼠标经过顶部菜单时的样式变化**/
#topMenuDiv>li:hover,#leftMenuDiv>ul>li>a:hover,#leftMenuDiv>ul>li>ul>li>a:hover{
    display: block;
    color: #FFF;
    background: #487495;
}
