.self-form{
	margin: 5px 5px 5px 5px;
    background-color: #EBF4FA;
    border: 1px solid #B1D3EC;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.self-form div.row{
    border-width: 1px;
    border-style: solid;
    border-color: #B1D3EC;
    background-color: #FFFFFF;
}
.self-form form.form-horizontal div.form-group{
	margin: 0px;
}

@media (min-width: 768px) {
  .self-form form.form-horizontal div.form-group{
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
  }
}

.self-form div.row .panel {
    margin-bottom: 0px;
}

.help-block{
	margin-top: 5px;
    margin-bottom: 0px;
}

.h4,h4{
	margin-left: 10px;
}

.label-bg{
	background-color: #EBF4FA !important;
}
.form-btn{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.panel-body {
    padding: 10px;
}

.form_border {
   	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #F9F9F9;
	border: 1px solid #B1D3EC;
}

.row-eq-height{
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	padding-left: 0px;
	padding-right: 0px;
}
