.self-form form.form-horizontal div.form-group{
    margin: 0px;
    background-color: #FFF;
    border-top: 1px solid #B1D3EC;
    border-left: 1px solid #B1D3EC;
    min-height:48px;
}

form.form-horizontal div.form-group{
    margin: 0px;
}

.help-block{
	margin-top: 5px;
    margin-bottom: 0px;
}

.self-form{
	margin: 5px 5px 5px 5px;
    background-color: #EBF4FA;
    border: 1px solid #B1D3EC;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.h4,h4{
	margin-left: 10px;
}

.self-form div.row{
    border-width: 1px;
    border-style: solid;
    border-color: #B1D3EC;
    background-color: #FFFFFF;
}

.self-form div.row .panel {
    margin-bottom: 0px;
}

.bottomAndRightCss{
	border-right: 1px solid #B1D3EC;
    border-bottom: 1px solid #B1D3EC;
}

.l-r-border {
   	padding-top: 6px;
	padding-bottom: 6px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #B1D3EC #B1D3EC #FFF #B1D3EC;
    background-color: #F9F9F9;
}
@media (min-width: 768px) {
  .l-r-border {
   	padding-top: 6px;
	padding-bottom: 6px;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #FFF #B1D3EC #FFF #B1D3EC;
  }
}

.l-border {
   	padding-top: 6px;
	padding-bottom: 6px;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #B1D3EC #B1D3EC #FFF #B1D3EC;
    background-color: #F9F9F9;
}
@media (min-width: 768px) {
  .l-border {
   	padding-top: 6px;
	padding-bottom: 6px;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #FFF #B1D3EC #FFF #B1D3EC;
  }
}
.t-border {
   	padding-top: 10px;
	padding-bottom: 10px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #B1D3EC #FFF #FFF #FFF;
    background-color: #EBF4FA;
}
@media (min-width: 768px) {
  .t-border {
   	padding-top: 10px;
	padding-bottom: 10px;
    border-width: 0px;
    border-style: solid;
    border-color: #FFF;
  }
}

.label-bg{
	background-color: #EBF4FA;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-btn{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
