<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="../../css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="../../common/angular.min.js"></script>
    <script src="../../common/angular-route.js"></script>
    <script src="../../common/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="filter.js"></script>
    <script src="server.js"></script>
  </head>
  <body>
  {{"lower cap string"|uppercase}}<br>
  {{ {foo:"bar",baz:23}|json}}<br>
  {{ 1304375948024|date}}<br>
  {{ 1304375948024|date:"MM/dd/yyyy @ h:mma"}}<br>
  	<div ng-view></div>
  </body>
</html>
